Name :- Rayapati Keerthi

Assignment 02 :- Cassandra

In [181]:
# Load the packages
import pandas as pd
from cassandra.cluster import Cluster

In [182]:
# Load the datasets from the csv file
df_info = pd.read_csv('m14.csv')
df_info

   warehouse_num    sku description product_name
0            101  10001   'android'     'realme'
1            102  10002   'android'       'vivo'
2            103  10003   'android'    'samsung'
3            104  10004   'android'     'galaxy'
4            104  10005       'ios'     'iphone'
5            106  10006   'android'       'appo'
6            104  10007   'android'      'nokia'
7            108  10008   'android'    'oneplus'
8            109  10009   'android'     'google'

In [183]:
# Display the first five rows
df_info.head()

   warehouse_num    sku description product_name
0            101  10001   'android'     'realme'
1            102  10002   'android'       'vivo'
2            103  10003   'android'    'samsung'
3            104  10004   'android'     'galaxy'
4            104  10005       'ios'     'iphone'

In [184]:
# cassandra connectivity
clstr = Cluster()
session = clstr.connect()

In [185]:
session.execute("DROP KEYSPACE IF EXISTS m14")

In [186]:
# to create the keyspace in the 
session.execute("CREATE KEYSPACE IF NOT EXISTS m14 with REPLICATION= {'class':'SimpleStrategy','replication_factor':2}")

In [187]:
# to displays m14 keyspaces 
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

m14
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
w04
w04python

In [188]:

session.execute("""
CREATE TABLE IF NOT EXISTS m14.InventoryInfo(
     warehouse_num INT, 
     sku INT, 
     product_name TEXT, 
     description TEXT,
     PRIMARY KEY(sku)
    
);
""")

In [189]:
session.execute("select * from m14.InventoryInfo")

In [190]:
for index, row in df_info.head(10).iterrows():
    print(f"warehouse_num= {row[0]}, sku = {row[1]}, product_name = {row[2]}, description = {row[3]}")

warehouse_num= 101, sku = 10001, product_name = 'android', description = 'realme'
warehouse_num= 102, sku = 10002, product_name = 'android', description = 'vivo'
warehouse_num= 103, sku = 10003, product_name = 'android', description = 'samsung'
warehouse_num= 104, sku = 10004, product_name = 'android', description = 'galaxy'
warehouse_num= 104, sku = 10005, product_name = 'ios', description = 'iphone'
warehouse_num= 106, sku = 10006, product_name = 'android', description = 'appo'
warehouse_num= 104, sku = 10007, product_name = 'android', description = 'nokia'
warehouse_num= 108, sku = 10008, product_name = 'android', description = 'oneplus'
warehouse_num= 109, sku = 10009, product_name = 'android', description = 'google'

In [191]:
for index, row in df_info.iterrows():
    print(f"""
        INSERT INTO m14.InventoryInfo (warehouse_num, sku, product_name, description)     
        VALUES ({row[0]}, {row[1]}, {row[2]}, {row[3]});
    """)
    session.execute(f"""
        INSERT INTO m14.InventoryInfo (warehouse_num, sku, product_name, description)     
        VALUES ({row[0]}, {row[1]}, {row[2]}, {row[3]});
    """)

        INSERT INTO m14.InventoryInfo (warehouse_num, sku, product_name, description)
        VALUES (101, 10001, 'android', 'realme');


        INSERT INTO m14.InventoryInfo (warehouse_num, sku, product_name, description)
        VALUES (102, 10002, 'android', 'vivo');


        INSERT INTO m14.InventoryInfo (warehouse_num, sku, product_name, description)
        VALUES (103, 10003, 'android', 'samsung');


        INSERT INTO m14.InventoryInfo (warehouse_num, sku, product_name, description)
        VALUES (104, 10004, 'android', 'galaxy');


        INSERT INTO m14.InventoryInfo (warehouse_num, sku, product_name, description)
        VALUES (104, 10005, 'ios', 'iphone');


        INSERT INTO m14.InventoryInfo (warehouse_num, sku, product_name, description)
        VALUES (106, 10006, 'android', 'appo');


        INSERT INTO m14.InventoryInfo (warehouse_num, sku, product_name, description)
        VALUES (104, 10007, 'android', 'nokia');


        INSERT INTO m14.InventoryInfo (warehouse_num, sku, product_name, description)
        VALUES (108, 10008, 'android', 'oneplus');


        INSERT INTO m14.InventoryInfo (warehouse_num, sku, product_name, description)
        VALUES (109, 10009, 'android', 'google');

In [192]:
rows = session.execute("select (warehouse_num,sku,product_name,description) from m14.InventoryInfo")
for row in rows:
    print(f"warehouse_num={row[0][0]}, sku={row[0][1]}, product_name={row[0][2]}, description={row[0][3]}")

warehouse_num=101, sku=10001, product_name=android, description=realme
warehouse_num=102, sku=10002, product_name=android, description=vivo
warehouse_num=104, sku=10007, product_name=android, description=nokia
warehouse_num=103, sku=10003, product_name=android, description=samsung
warehouse_num=106, sku=10006, product_name=android, description=appo
warehouse_num=104, sku=10004, product_name=android, description=galaxy
warehouse_num=109, sku=10009, product_name=android, description=google
warehouse_num=104, sku=10005, product_name=ios, description=iphone
warehouse_num=108, sku=10008, product_name=android, description=oneplus

In [193]:

index_Adding = "CREATE INDEX Indexing_Adding ON m14.InventoryInfo (warehouse_num);"
session.execute(index_Adding)

In [194]:
rows = session.execute("select (warehouse_num,sku,product_name,description) from m14.InventoryInfo where warehouse_num = 104 ")
for row in rows:
    print(f"warehouse_num={row[0][0]}, sku={row[0][1]}, product_name={row[0][2]}, description={row[0][3]}")

warehouse_num=104, sku=10007, product_name=android, description=nokia
warehouse_num=104, sku=10004, product_name=android, description=galaxy
warehouse_num=104, sku=10005, product_name=ios, description=iphone